{% extends 'base/base.html' %}
{% load static %}

{% block title %} Registro de Usuario - AgroSoft {% endblock %}
{% block navtop %} {% endblock %}
{% block navleft %} {% endblock %}
{% block body %}
<body data-open="click" data-menu="vertical-menu" data-col="1-column" class="vertical-layout vertical-menu 1-column">
	{% endblock %}

	{% block content %}
	<style type="text/css">
	span.help-block > ul > li {
		list-style: none;
		padding: 0;
		margin: 0;
		color: #a94442;
	}
</style>
<div class="app-content content container-fluid">
	<div class="content-wrapper">
		<div class="content-header row">
		</div>
		<div class="content-body"><section class="flexbox-container">
			<div class="col-md-8 offset-md-2 col-xs-20 offset-xs-1 box-shadow-2 p-0">
				<div class="card border-grey border-lighten-3 px-2 py-2 m-0">
					<div class="card-header no-border">
						<div class="card-title text-xs-center">
							<a href="{% url 'Inicio' %}">
								<img src="{% static 'img/Logo.png' %}" alt="AgroSoft Logo" alt="AgroSoft Logo">
							</a>
						</div>
						<h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Crear Cuenta</span></h6>
					</div>
					<div class="card-body collapse in">	
						<div class="card-block">
							<form class="form" method="POST" onsubmit="return Validar(event)">{% csrf_token %}
								<div class="form-body">
									<div class="row">
										<!-- 1 -->
										<div class="col-md-6">
											<div class="form-group">
												<label>Cédula</label>
												<input type="text" class="form-control" placeholder="Cédula" name="username" id ="username" onblur="enviar(event.srcElement);" onpaste="return false"; onkeypress=" return Teclas(event, 1);" maxlength="8" data-toggle="tooltip" data-original-title="Ingrese 8 Digitos" data-trigger="hover" data-placement="right">
												<span class="help-block">{{usuarios.username.errors}}</span>	
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Correo Electrónico</label>
												<input type="text" class="form-control" placeholder="Correo Electrónico" name="email" onblur="enviar(event.srcElement);" onpaste="return false"; onkeypress=" return Teclas(event, 3);" maxlength="30" data-toggle="tooltip" data-original-title="ejemplo@hotmail.com" data-trigger="hover" data-placement="right">
												<span class="help-block">{{usuarios.email.errors}}</span>
											</div>
										</div>
										<!-- 2 -->
										<div class="col-md-6">
											<div class="form-group">
												<label>Contraseña</label>
												<input type="password" class="form-control" placeholder="Confirmar Contraseña" name="password1" data-toggle="tooltip" data-original-title="Mínimo 8 dígitos y máximo 16 dígitos" data-trigger="hover" data-placement="right" onblur="enviar(event.srcElement);" maxlength="16">
												<span class="help-block">{{usuarios.password1.errors}}</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Confirmar Contraseña</label>
												<input type="password" id="projectinput2" class="form-control" placeholder="Contraseña" name="password2" data-toggle="tooltip" data-original-title="Mínimo 8 dígitos y máximo 16 dígitos" data-trigger="hover" data-placement="right" onblur="enviar(event.srcElement);" maxlength="16">
												<span class="help-block">{{usuarios.password2.errors}}</span>
											</div>
										</div>
										<!-- 3 -->
										<div class="col-md-6">
											<div class="form-group">
												<label>Primer Nombre</label>
												<input type="text" class="form-control" placeholder="Primer Nombre" name="pri_nombre" onblur="enviar(event.srcElement);" onpaste="return false"; onkeypress=" return Teclas(event, 2);" maxlength="30" onkeyup="mayus(this);" data-toggle="tooltip" data-original-title="Minimo 2 letras y Maximo 30" data-trigger="hover" data-placement="right" maxlength="30">
												<span class="help-block">{{usuarios.pri_nombre.errors}}</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Segundo Nombre</label>
												<input type="text" class="form-control" placeholder="Segundo Nombre" name="seg_nombre" onblur="enviar(event.srcElement);" onpaste="return false"; onkeypress=" return Teclas(event, 2);" maxlength="30" onkeyup="mayus(this);" data-toggle="tooltip" data-original-title="Minimo 2 letras y Maximo 30" data-trigger="hover" data-placement="right" maxlength="30">
												<span class="help-block">{{usuarios.seg_nombre.errors}}</span>	
											</div>
										</div>
										<!-- 4 -->
										<div class="col-md-6">
											<div class="form-group">
												<label>Primer Apellido</label>
												<input type="text"  class="form-control" placeholder="Primer Apellido" name="pri_apellido" onblur="enviar(event.srcElement);" onpaste="return false"; onkeypress=" return Teclas(event, 2);" maxlength="30" onkeyup="mayus(this);" data-toggle="tooltip" data-original-title="Minimo 2 letras y Maximo 30" data-trigger="hover" data-placement="right" maxlength="30">
												<span class="help-block">{{usuarios.pri_apellido.errors}}</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Segundo Apellido</label>
												<input type="text" class="form-control" placeholder="Segundo Apellido" name="seg_apellido" onblur="enviar(event.srcElement);" onpaste="return false"; onkeypress=" return Teclas(event, 2);" maxlength="30" onkeyup="mayus(this);" data-toggle="tooltip" data-original-title="Minimo 2 letras y Maximo 30" data-trigger="hover" data-placement="right" maxlength="30">
												<span class="help-block">{{usuarios.seg_apellido.errors}}</span>	
											</div>
										</div>
										<!-- 5 -->
										<div class="col-md-6">
											<div class="form-group">
												<label>Teléfono</label>
												<input type="text" class="form-control" placeholder="Teléfono" name="telefono" onpaste="return false"; onkeypress=" return Teclas(event, 1);" onblur="enviar(event.srcElement);" maxlength="11" data-toggle="tooltip" data-original-title="Ingrese 11 digitos, incluyendo codigo telefonico" data-trigger="hover" data-placement="right" >
												<span class="help-block">{{usuarios.telefono.errors}}</span>	
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Género</label>
												<select  name="genero" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Seleccione su Género" onblur="enviar(event.srcElement);">
													<option value="Femenino">Femenino</option>
													<option value="Masculino">Masculino</option>
												</select>
												<span class="help-block">{{usuarios.genero.errors}}</span>	
											</div>
										</div>
										<!-- 6 -->
										<div class="col-md-6">
											<div class="form-group">
												<label>Dirección</label>
												<textarea maxlength="255" class="form-control" name="direccion" placeholder="Dirección" data-toggle="tooltip" data-original-title="Ingrese la Dirección detalladamente" data-trigger="hover" data-placement="top" onpaste="return false"; onkeypress=" return Teclas(event, 3);" onblur="enviar(event.srcElement);" maxlength="150" data-toggle="tooltip"></textarea>
												<span class="help-block">{{usuarios.telefono.errors}}</span>	
											</div>
										</div>
									</div>
									<!-- Botón -->
									<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-unlock2"></i> Registrarse</button>
								</form>
							</div>
							<p class="text-xs-center">¿Ya tienes una cuenta? <a href="{% url 'Usuarios:LoginUsuario' %}" class="card-link">Inicia Sesión</a></p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %} {% endblock %}



