{% extends 'base/base.html' %}
{% load static %}

{% block title %} Restablecer Contraseña - AgroSoft {% endblock %}
{% block navtop %} {% endblock %}
{% block navleft %} {% endblock %}
{% block body %}
<body data-open="click" data-menu="vertical-menu" data-col="1-column" class="vertical-layout vertical-menu 1-column  blank-page blank-page">
	{% endblock %}

	{% block content %}
	<div class="app-content content container-fluid">
		<div class="content-wrapper">
			<div class="content-header row">
			</div>
			<div class="content-body"><section class="flexbox-container">
				<div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
					<div class="card border-grey border-lighten-3 m-0">
						<div class="card-header no-border">
							<div class="card-title text-xs-center">
								<div class="p-1">
									<img src="{% static 'img/Logo.png' %}" alt="AgroSoft Logo">
								</div>
							</div>
							<h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Restablecer Contraseña</span></h6>
						</div>
						<div class="card-body collapse in">
							<div class="card-block">
								{% if validlink %}
								<form class="form-horizontal form-simple" method="POST" novalidate>{% csrf_token %}
									<fieldset class="form-group position-relative has-icon-left mb-0">
										<input name="new_password1" type="password" class="form-control form-control-lg input-lg" placeholder="Contraseña" required>
										<div class="form-control-position">
											<i class="icon-key3"></i>
										</div>
									</fieldset>
									<fieldset class="form-group position-relative has-icon-left">
										<input name="new_password2" type="password" class="form-control form-control-lg input-lg" placeholder="Confirmar Contraseña" required>
										<div class="form-control-position">
											<i class="icon-key3"></i>
										</div>
									</fieldset>
							
									<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-unlock2"></i> Restablecer</button>
								</form>
								{% else %}
								<h6 class="text-muted text-xs-center pt-4">
									<span>El enlace para restablecer la contraseña no es válido, posiblemente ya se utilizó o caduco.</span>
									<br>
									<br>
									<br>
									<br>
									<span>Solicite un nuevo enlace para restablecer la contraseña haciendo clic <b><a href="{% url 'RecuperarClaveUsuario' %}"> aquí.</a></b></span>
								</h6>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
</div>
{% endblock %}

{% block footer %} {% endblock %}