{% extends 'base/base.html' %}
{% load static %}

{% block title %} Restablecer Contraseña - AgroSoft {% endblock %}
{% block navtop %} {% endblock %}
{% block navleft %} {% endblock %}
{% block body %}
<body data-open="click" data-menu="vertical-menu" data-col="1-column" class="vertical-layout vertical-menu 1-column  blank-page blank-page">
	{% endblock %}

	{% block content %}
	<div class="app-content content container-fluid">
		<div class="content-wrapper">
			<div class="content-header row">
			</div>
			<div class="content-body">
				<section class="flexbox-container">
					<div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1 box-shadow-2 p-0">
						<div class="card border-grey border-lighten-3 px-2 py-2 m-0">
							<div class="card-header no-border pb-0">
								<div class="card-title text-xs-center">
									<img src="{% static 'img/Logo.png' %}" alt="AgroSoft Logo">
								</div>
							</div>
							<h6 class="text-muted text-xs-center font-small-3 pt-4">
								<br>
								<br>
								<span>Se ha enviado un correo electrónico con las instrucciones para restablecer su contraseña.</span>
								<br>
								<br>
								<br>
								<br>
								<span>Si no recibe un correo electrónico con las instrucciones asegurese de haber ingresado la dirección de correo correcta o revise la carpeta de spam.</span>
								<br>
								<br>
								<br>
								<br>
							</h6>
							<center>
								<span>
									<a href="{% url 'Inicio' %}">
										<i class="icon-home font-large-1"> Inicio</i>
									</a>
								</span>
							</center>
						</div>
					</div>
				</section>
				{% endblock %}

				{% block footer %} {% endblock %}

				<p>
					We've emailed you instructions for setting your password, if an account exists with the email you entered.
					You should receive them shortly.
				</p>
				<p>
					If you don't receive an email, please make sure you've entered the address you registered with,
					and check your spam folder.
				</p>










				